---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import personal from "@/assets/juan.jpeg";

const meta = {
	description:
		"Juan's personal website. Learn more about Juan and his work as a software engineer.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<section class="grid gap-3">
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4 text-base">
			I'm a web developer and <strong>software engineer</strong> passionate about creating <strong
				>innovative</strong
			>
			and <strong>robust</strong> solutions. For the past few years, I've been working as a fullstack
			developer, although I've always found my true passion in the <strong>backend</strong>.
		</p>

		<div class="my-8 flex justify-center">
			<Image
				class={"rounded-xl w-80"}
				alt="Juan's personal photo"
				fetchpriority="high"
				loading="eager"
				src={personal}
			/>
		</div>

		<p class="mb-4 text-base">
			As a developer, my main focus is to make sure that every <strong>line of code</strong> I write
			meets the <strong>highest quality standards</strong>. For me, this means code that is
			<strong>testable</strong>, <strong>maintainable</strong> and <strong>scalable</strong>.
		</p>
		<p class="mb-4 text-base">
			During my career, I have spent time and effort studying and applying concepts such as
			<strong>hexagonal architecture</strong> and <strong>Domain-Driven Design (DDD)</strong>. These
			methodologies have not only contributed to strengthening my software development skills, but
			have also improved my ability to <strong>communicate</strong> and
			<strong>collaborate</strong> effectively with multidisciplinary teams.
		</p>
		<p class="mb-4 text-base">
			Outside of the programming world, I enjoy reading books on <strong
				>software development</strong
			> , as well as others that focus on <strong>personal development</strong>. I also enjoy the
			outdoors with activities such as <strong>paddle</strong> and <strong>basketball</strong>, and
			I can't forget my love for <strong>speciality coffee</strong>! I love to prepare it and try
			different varieties and brewing methods - nothing like a good cup of coffee to get you coding!
		</p>
	</section>
</PageLayout>
