---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PostPreview from "@/components/blog/PostPreview.astro";

const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="grid gap-3">
		<h1 class="title mb-6">Welcome to my blog!</h1>
		<p class="mb-4 text-base">
			Here, I'll be sharing my experience and knowledge about software development, with a special
			focus on hexagonal architecture, Domain-Driven Design (DDD), and software testing.
		</p>

		<p class="mb-4 text-base">
			Thank you for visiting, and I hope you find the content interesting and useful!
		</p>
		<div class="flex items-center gap-3">
			<p class="text-base">Find me on:</p>
			<SocialList />
		</div>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
